#root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

tbody > tr:first-child {
  color: red;
}

table {
  flex: 0 0 25%;
  margin: 5px;
  border: 1px solid gray;
}

@media (max-width: 720px) {
  #root {
    font-size: 10px;
  }
}